@model Consumer.Domain.Entities.ViewElectric

</br></br>
<a href="Electric/Create" class="btn btn-primary">Nova registro</a>
</br></br>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Data de leitura</th>
                <th>Num. leitura</th>
                <th>Kw Gasto</th>
                <th>Valor a pagar</th>
                <th>Data de pagamento</th>
                <th>Média de consumo</th>
                <th>Residência</th>
                <th>Ações</th>
            </tr>
        </thead>

        @foreach(var item in Model.electrics)
        {
            <tr >
                <td>@item.readDate</td>
                <td>@item.readNum</td>
                <td>@item.kwConsumed</td>
                <td>@item.value</td>
                <td>@item.datePag</td>
                <td>@item.mediaConsumed</td>
                <td>@item.residence.nameOwner</td>
                <td><a class="btn btn-success" 
                    href="Electric/Details/@item.id">Ver</a>
                    <a class="btn btn-primary" 
                    href="Electric/Edit/@item.id">Editar</a>
                    <a class="btn btn-danger"
                    href="Electric/Delete/@item.id">Deletar</a> </td>
            </tr>
        }
    </table>
    <!-- @if(Model.minConsumed != null  && Model.maxConsumed != null){
        <h6>Menor consumo @Model.minConsumed.kwConsumed</h6>
        <h6>Maior consumo @Model.maxConsumed.kwConsumed</h6>
    } -->
</div>
